.a {
    width: 600px;
    background-color: orange;
    padding: 10px;
    box-sizing: border-box;
}

.b {
    background-color: skyblue;
    padding: 10px;
    box-sizing: border-box;

}

.c {
    background-color: palegreen;
    padding: 10px;
    box-sizing: border-box;

}